<nav class="navbar">
  <div class="navbar-left">
    <img src="/images/shinedental.jpeg" alt="Logo" class="logo">
    <a href="/"><span class="brand-name">Shine Dental Surgery</span></a>
  </div>
  <div class="navbar-right">
    <a href="/account" class="account-link">Account</a>
  </div>
</nav>
