<div class="add">
    <div class="home">
        <h1>Receipt Maker</h1>
        <a href="/receipt">Create a Receipt</a>
        <a href="/receipts">View Records</a>
    </div>
    <!-- <div class="home">
        <h1>Receipt Maker</h1>
        <a href="/receipt">Create a Receipt</a>

    </div>
    <div class="home">
        <h1>Receipt Maker</h1>
        <a href="/receipt">Create a Receipt</a>

    </div>
    <div class="home">
        <h1>Receipt Maker</h1>
        <a href="/receipt">Create a Receipt</a>

    </div> -->
</div>