<body>
    <div class="receipt-card">
        <div class="receipt">
            <img src="/images/reciept_logo.png" alt="Receipt Logo">
            <table class="receipt-table">
                <tr>
                    <th>Patient Name</th>
                    <td>
                        <%= receipt.patient_name %>
                    </td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>
                        <%= receipt.phone_number %>
                    </td>
                </tr>
                <tr>
                    <th>Services</th>
                    <td>
                        <%= Array.isArray(receipt.services) ? receipt.services.join(", ") : receipt.services %></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>UGX <%= receipt.total %></td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <p>BY: _______________</p>
        </div>
    </div>
    
    <button id="print-button">Print</button>

                            <a href="/receipts"><button id="back">Back</button></a>

</body>

</html>
<script>
    // JavaScript to trigger print
    document.getElementById('print-button').addEventListener('click', function () {
        window.print();
    });
</script>