*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #310909;
    color: white;
}



.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.brand-name {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.brand-name:hover{
    text-decoration: underline;
}
.navbar-right {
    font-size: 1em;
}

.account-link {
    text-decoration: none;
    color: white;
}

.account-link:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h2 {
    color: #333;
    font-weight: bolder;
    font-size: 30px;
}

.add {
    display: flex;
    justify-content: space-around;
}

.contianer {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
}

.table {
    width: 100%;
    padding: 20px;
    background-color: white;
}

.contianer p {
    margin: 15px 0;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.home {
    height: 50vh;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2, h2 {
    color: #333;
    text-align: center;
    padding: 2px;
}

h3 {
    margin-top: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}

.receipt-card {
    background-color: white;
    padding: 20px;
    align-items: center;
}



.receipt-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.receipt-table th,
.receipt-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.receipt-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.receipt {
    width: 600px;
    height: 600px;
    background-color: #ffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.receipt img {
    width: 100%;
}

footer {
    background-color: #310909;
    padding: 10px 20px;
    text-align: center;
    color: white;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    padding-top: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-color: #fff; */
    width: 100%;
    height: 100vh;
}

.c-ontainer{
    background-color: white;
    width: 500px;
    height: 350px;
    padding: 20px;
    border-radius: 5px;

}

.notice {
    color: red;
    list-style-type: none;
    padding: 0;
}

.success {
    color: green;
    list-style-type: none;
    padding: 0;
}


.login h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#print-button {
    background-color: #20cc09;
}

#back {
    background-color: #ff0000;
    margin-top: 10px;
}

#back:hover, #print-button:hover {
    background-color: #26442c;
}

#print-button, #back {
    width: 90px;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}

button  {
    text-align: center;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

@media print {
    body * {
        visibility: hidden;
    }

    .receipt-card,
    .receipt-card * {
        visibility: visible;
    }

    .receipt {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
        width: 100%;
        height: auto;
        top: 0;

    }

    .receipt-card {
        position: absolute;             
        width: 100%;
        margin: 0;
    }

 

    .receipt-table {
        width: 100%;
        border-collapse: collapse;
    }

    .receipt-table th,
    .receipt-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
}